{% extends "blog/base.html" %}

{% block content %}

<div class="jumbotron">

  <div class="" align="left">
      {# This site pressents what the shit i about. A Clone project to learn webdev. #}
      <h2 align="center"><strong>Welcome to Kents Blog & CV site!</strong></h2>
      <p align="center">First of all.. Im glad that you visit my site!</p>
      <hr>
      <br>
      <p> This is a site whit combined blog and CV site to show what i can do for you.
        <br>The site is coded in Python Django. <br>
        The Projects backend is not designed by my self.
          <br>But I have designed the frontend of page.<br>
          It´s a clone project in a course I have been doing.
            <br>The Logo and more is designed by myself.
              <br>Credit goes to: <a href="http://codepen.io/thapliyalshivam/pen/dvgXVO">thapliyalshivam/CodePen</a>
              <br>That I have importet the blinkin CS text from, thanks!
            </p>
            <p>
          <br>The course name is "Python and Django Fullstack Web Developer Bootcamp".
        </p>
      <p>
        In the course I have learnd how to do:<br>
        <div>
          <ul>
            <li> JavaScript</li>
            <li> BootStrap</li>
            <li> HTML5 and CSS</li>
            <li> Django</li>
            <li> Python 3</li>
          </ul>
        </div>
        I´m also learned Python and how Django is working and how to config a website.
        One intressting part of this project was to link everything together and
        create injections whith django code into the HTML site.
        <br>
      </p>
      <p>To run the project I have learned how to create and manage virtual environments
        in the PowerShell, when that sade we used it to troubleshoot the code for bugs.
      </p><p>
      In this course I have learned how to create a site bothe Frontend och Backend to get everything to work.
      </p>
    </div>
  </div>


{% endblock %}
